 
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb"> 
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>AdminLogin</h1>
            </div>
        </div>
    </div>
</div>
<!--Login in form working-->
<br />
    <center>
        @using (Html.BeginForm("AdminLogin", "Home" , FormMethod.Post))
        {
            <div class="#">
                <div>
                    <h3 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:chartreuse">SIGN IN</h3><br />
                </div>

                <div><img src="https://tse3.mm.bing.net/th?id=OIP.dt7fukY8T6-BMULdR5-QUQHaHa&pid=Api&P=0&w=300&h=300" height="100" width="100" class="img-rounded  d-block mx-auto" /></div> <br />            
                <div>
                    <input type="text" name="Account_Email" class="form-control col-md-4" placeholder="Enter the Email" />
                </div><br />
                <div class="form-group">
                    <input type="password" name="Account_Password" class="form-control col-md-4" placeholder="Enter the password" />
                </div><br />
                
                <div>@ViewBag.message</div>
                <div>
                    <input type="submit" value="LOGIN" class="btn btn-success  col-md-2" style="font-family:'Times New Roman'; font-size:20px; color:darkolivegreen" />
                </div><br />
            </div>
        }
    </center>


