@using LiveDinner.Models
@{
    ViewBag.Title = "Cutomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cutomer</h2>
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Customer</h1>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<center>
    @using (Html.BeginForm("payno", "Home", FormMethod.Post))
    {
    <form>
        @if (Session["cus"] != null)
        {
            Account a = (Account)Session["cus"];
            <div class="form-group">
                <input name="Order_Name" value="@a.Account_Name" class="form-control col-5" placeholder="enter the name" required />
            </div>
            <div class="form-group">
                <input name="Order_Address" value="@a.Account_Address" class="form-control col-5" placeholder="enter the address" required />
            </div>
            <div class="form-group">
                <input name="Order_Email" value="@a.Account_Email" class="form-control col-5" placeholder="enter the email" required />
            </div>
            <div class="form-group">
                <input name="Order_Phone_Number" value="@a.Account_Phone_Number" class="form-control col-5" placeholder="enter the phone" required />
            </div>
        }
        else
        {
            <div class="form-group">
                <input name="Order_Name" class="form-control col-5" placeholder="enter the name" required />
            </div>
            <div class="form-group">
                <input name="Order_Address" class="form-control col-5" placeholder="enter the address" required />
            </div>
            <div class="form-group">
                <input name="Order_Email" class="form-control col-5" placeholder="enter the email" required />
            </div>
            <div class="form-group">
                <input name="Order_Phone_Number" class="form-control col-5" placeholder="enter the phone" required />
            </div>
        }

        <div>
            <h3>Paymint Mode</h3>
            <b>Cash on deliver:</b>  <input type="radio" value="Cash on deliver" name="Order_Status" checked="checked" />
            <b>Pay With Paypal:</b>  <input type="radio" value="Paid" name="Order_Status" />
        </div>
        <input type="submit" name="name" value="Submit" class="btn-outline-primary" />

    </form>
    }
</center>

<script type="text/javascript">
    window.onload = function () {
        window.scrollBy(0, 200);
    }
</script>

